body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.header{
    background-color:#000;
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}

.inner-header{
    width:80%;
    margin:auto;
}

a{
    text-decoration: none;
    background-color: transparent;
    color:#ededed;
}

.logo{
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.header-link{
    float:right;
    font-size:14px;
    height: 50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: bold;
}

.content{
    min-height: 600px;
}

.banner_image {
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg) no-repeat center;
    background-size: cover;
}

.inner-banner-image{
    padding-top: 12%;
    width:80%;
    margin:auto;
}

.banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.items{
    width:30%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 4px;
    float:left;
    margin-left:1%;
}

.thumbnail{
    display: block;
    max-width: 100%;
    height: auto;
}

.caption{
    color:#000;
    padding:0px 10px 10px;
    font-weight: lighter;
    text-align: left;
}

footer{
    background-color: #000;
    color:#fff;
    font-size:14px;
}

.button{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-color: white;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;

}

.Inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
  }

.h2{
    text-align: center;
}

.new_image {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg) no-repeat center;
    background-size: cover;
}
.star {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }


.button1{
    position: absolute;
    color: white;
    background-color: transparent;
    border-color: white;
    border: 1px solid white;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
    bottom: auto;
    right: 40%;
}



.footerH1{
    text-align: center;
    padding: 50px;
}

.Brand{
    text-align: center;
    padding: 100px;
}

.button3{
    background-color: green ;
    padding: 10px 16px;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3333333;
    margin-left: 43.5%;
}

